$violet: #c6d2e3;
$blue: #9fdbdf;
$yellow: #ff0;
$grey: #ddd;
$breakpoint-3: '(max-width: 800px)';
$breakpoint-2: '(max-width: 600px)';
$breakpoint-1: '(max-width: 400px)';

$panel-top-margin: 75px;
$panel-left-margin: 125px;

$btn-text-col: #000;
$btn-border-col: #000;
$btn-text-col-hover: #fff;
$btn-border-col-hover: #fff;
$btn-width: 300px;//325px;
$btn-width-full: 325px;

// $flag-height: 50px;
// $flag-width: 

$nav-z-index: 1003;
$btn-z-index: 1002;
$canvas-z-index: 1001;
//$chapter-container-z-index: -1;

$wave-z-index: 998;


$fish-water-bg-color: #00b0c8;
$btn-margin-top: -40px;