<section class="nav-contents">
	<div class="nav-flag">▸</div>

	<h1>contents</h1>

	<div class="btn btn-contents" ng-class="{ active:chapter.isSet(0) }" ng-click="chapter.setChapter(0); ">
		<span class="numeral">00.</span><!--
		--><span class="chapter-link">fish pedicure</span>
	</div>

	<div class="btn btn-contents" ng-class="{ active:chapter.isSet(1) }" ng-click="chapter.setChapter(1)">
		<span class="numeral">01.</span><!--
		--><span class="chapter-link">oat of this world</span>
	</div>

	<div class="btn btn-contents" ng-class="{ active:chapter.isSet(2) }" ng-click="chapter.setChapter(2)">
		<span class="numeral">02.</span><!--
		--><span class="chapter-link">continental breakfast</span>
	</div>

</section>